#element{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: content;
    flex-direction: row;
    border-top: 0.1px solid rgb(199, 187, 187);
    gap: 15px;
}
#element:first-of-type{
    border-top: none;
}

#element #img_container{
    height: 80px;
    width: 80px;
    padding: 10px;
    padding-left: 20px;
    object-fit: cover;
}

#element #img_container img{
    height: 80px;
    width: 80px;
}

#info{
    flex: 3;
}
#sp1{
    font-size: 16px;
}
#sp2{
    font-size: 12px;  
}
#sp3{
    font-size: 10px;   
}
#element #element_main{
    padding-right: 10px;
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    #element{
        width: 100%;
        height: 130px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: content;
        flex-direction: row;
        border-top: 0.1px solid rgb(199, 187, 187);
        gap: 15px;
    }
}


@media screen and (max-width: 700px){
    #sp2{
        display: none;
        font-size: 100px;
    }
}

@media screen and (max-width: 370px){
    #sp1{
        font-size: 12px;
    }
    #element #element_main{
        font-size: 14px;
    }
    #element{
        height: 100px;
    }
    #sum{
        margin-bottom: 25px;
    }
}
