@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100:wght@200:wght@300:wght@400:wght@500:wght@600:wght700:wght&display=swap');
.header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: white;
    padding: 15px 0;
    margin-bottom: 100px;
    max-height: 62px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 2px 1px;
}

#mainhead{
    height: 62px;
}
#buttons{
    display: flex;
    flex-direction: row;
}

#mianhead {
    background: none;
}

#icon{
    width: 30px;
    font-size: 25px;
    color: black;
}


#list{
    color: #9400FF;
    display: flex;
    flex-direction: row;
}
#mainl{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 300px;
    max-height: 500px;
    height: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    border-top: 2px solid rgba(0, 0, 0, 0.08);
    border-right: 2px solid rgba(0, 0, 0, 0.08);
    border-left: 2px solid rgba(0, 0, 0, 0.08);
    background-color: white;
    border-radius: 12px 0 12px 12px;
    z-index: 100;
    transform: translate(-118px,-2px);
}


#elements{
    min-height: 200px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#Cart_title{
    padding: 20px 20px 0 20px ;
    font-size: 20px;
    padding-bottom: 20px;
}

#under{
    background-color: #ececec;
    border-radius: 12px 0 12px 12px ;
    padding: 0 12px 12px 12px;
}

#sumH{
    font-size: 18px;
    padding: 5px 5px 0 5px;
    margin-top: 15px;
    font-weight: 900;
}
#see_button{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin: 15px auto 0 auto;
    padding: 6px 40px;
    background-color: #9400FF;
    color: white;
    font-size: 17px; 
    border-radius: 50px;
    transition: .3s;
}
#see_button:hover{
    background-color: #8003da;
}


@media screen and (max-width: 880px){
    #mianhead{
        width: 130px;
    }
    .header{
        width: calc(100vw - 90px);
        row-gap: 20px;
        position: relative;
        left: 70px;
        padding: 0;
        margin-top: 20px;
        box-shadow: none;
    }
    #button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px; 
        padding: 8px 14px; 
        border-radius: 8px;
        gap: 1px;
        font-family: 'Montserrat', sans-serif;
        flex-direction: column;
        color: black;
    }
    #icon{
        width: 30px;
        font-size: 20px;
        color: black;
    }
    #button span{
        background-color: #9400FF;
        border-radius: 50%;
        padding: 1px;
        font-size: 10px; 
        color: #9400FF;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        position: absolute;
        transform: translate(11px,-20px);
        color: white;
    }
}


@media screen and (max-width: 450px){
    .header{
        flex-wrap: wrap;
        left: 50px;
    }
    #mainl{
        transform: translate(-60px,-2px);
        border-radius: 12px;
    }
    #Cart_title {
        padding: 20px;
        font-size: 20px;
        padding-bottom: 20px;
    }
}